ul.center-menu
{
	list-style:none;
	margin:0; padding:0;
}
ul.center-menu li a
{
	text-decoration: none;
	color: #fff;
}
ul.center-menu li a.selected
{
	color: #f6e80e;
}
ul.center-menu li a:hover
{
	color: #f6e80e;
}


